{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% image page.hero_image fill-1900x740-c20 format-webp preserve-svg as tmp_hero %}
{% image page.favicon max-256x256 as tmp_favicon %}
{% block meta_tags %}

<meta property="og:title" content="{{ page.event|striptags }}">
<meta property="og:description" content="{{ page.about|striptags }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% if page.logo_image %}
    {% image page.logo_image original as tmp_og_image %}
    <meta property="og:image" itemprop="image" content="{{ request.build_absolute_uri|slice:':-1' }}{{ tmp_og_image.url }}">
{% endif %}
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.event|striptags }}">
<meta name="twitter:description" content="{{ page.about|striptags }}">
<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
{% if page.logo_image %}
    {% image page.logo_image original as tmp_twitter_image %}
    <meta name="twitter:image" content="{{ request.build_absolute_uri|slice:':-1' }}{{ tmp_twitter_image.url }}">
{% endif %}
{% endblock %}

<link rel="icon" type="image/png" href="{{ tmp_favicon.url }}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{% static '2023/css/bootstrap.min.css' %}">
<style>
    :root {
        --cg1: {{page.color_gradient_1}};
        --cg2: {{page.color_gradient_2}};
        --primary: {{page.color_primary}};
        --text-hero: {{page.color_text_hero}};
        --hero-padding-left: {{page.hero_padding_left}};
        --hero-padding-right: {{page.hero_padding_right}};
        --footer-bg: {{page.footer_background}};
        --footer-text: {{page.footer_color_text}};
        --primary-font: '{{page.primaryFontFamily}}';
        --secondary-font: {{page.secondaryFontFamily}};
    }
</style>
<!-- Icon -->
<link rel="stylesheet" type="text/css" href="{% static '2023/fonts/lineicons.css' %}">
<!-- Nivo Lightbox -->
<link rel="stylesheet" type="text/css" href="{% static '2023/css/nivo-lightbox.css' %}">
<!-- Animate -->
<link rel="stylesheet" type="text/css" href="{% static '2023/css/animate.css' %}">
<!-- Main Style -->
<link rel="stylesheet" type="text/css" href="{% static '2023/css/main.css' %}">
<!-- Responsive Style -->
<link rel="stylesheet" type="text/css" href="{% static '2023/css/responsive.css' %}">

{%if page.value.primaryFontURL != "" %}
<link href="{{page.primaryFontURL}}" rel="stylesheet">
{%endif%}

{%if page.value.secondaryFontURL != "" %}
<link href="{{page.secondaryFontURL}}" rel="stylesheet">
{%endif%}

<style>
    .hero-area-bg-image {
        background: url("{{ tmp_hero.url }}") no-repeat;
        background-size: cover;
        background-position-y: top;
        background-position-x: center;
    }
    .hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, {{page.hero_image_overlay_opacity}});
    }
</style>
{%if page.externalRaws|length > 0 %}
    {% for extra in page.externalRaws %}
    {{ extra.value.rawHTML }}
    {% endfor %}
{% endif %}
{% endblock extra_css %}


{% block content %}
<!-- Header Area wrapper Starts -->
<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top" style="background: {{page.navbar_background}};">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            {% image page.logo_image max-180x90 format-webp preserve-svg as tmp_logo  %}

            <a href="/" class="navbar-brand"><img src="{{ tmp_logo.url }}" alt="{{ tmp_logo.alt }}"
                
            ></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link" href="#header-wrap" style="color: {{page.navbar_links_color}} !important;">
                            Home
                        </a>
                    </li>
                    {% for menu_page in page.get_children.live.in_menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="#{{ menu_page.slug }}" style="color: {{page.navbar_links_color}} !important;">
                            {{ menu_page.title }}
                        </a>
                    </li>
                    {% endfor %}
                    {% for menu_external in page.menu_links %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ menu_external.value.url }}" target="_blank" style="color: {{page.navbar_links_color}} !important;">
                            {{ menu_external.value.text }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Hero Area Start -->
    <div class="hero-area hero-area-bg hero-area-bg-image">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-sm-12">
                    <div class="contents text-center" style="text-align: {{page.position_event}}! important;">
                        {% if page.logo_image_big is not None %}
                        {% image page.logo_image_big  max-300x150 format-webp preserve-svg as tmp_logo_big %}
                        <img src="{{ tmp_logo_big.url }}" alt="{{ tmp_logo_big.alt }}">
                        <br>
                        <br>
                        
                        {% endif %}

                        <p class="banner-info">{{ page.literal_date }} {{page.location}}</p>
                        <div class="head-title">{{ page.event|richtext }}</div>
                        <div class="banner-desc" style="text-align: justify;">{{ page.about|richtext }}</div>
                        <br>
                        {% if page.url_get_tickets is not None and page.url_get_tickets != "" %}
                        <div class="banner-btn">
                            <a href="{{page.url_get_tickets}}" class="btn btn-common"
                                target="_blank">{{page.text_get_tickets}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
</header>
<!-- Count Bar Start -->
<section id="count" style="background: {{page.background_section}}; color: {{page.color_text_section}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="count-wrapper text-center">
                    <div class="time-countdown wow fadeInUp" data-wow-delay="0.2s">
                        <div id="clock" class="time-count"></div>
                        <input type="hidden" id="clock_date" value="{{ page.event_date|date:'Y/m/d' }}">
                        <input type="hidden" id="clock_date_show" value="{{ page.show_time }}">
                        <input type="hidden" id="clock_date_show_message" value="{{ page.message_show_time }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Count Bar End -->


{% for block in segments %}
{% for segment in block.segments %}
{% if segment.block_type == 'detail_segment' %}
<div>
    {% include 'segments/segment.html' %}
</div>
{% endif %}
{% if segment.block_type == 'video_segment' %}
<div>
    {% include 'segments/video.html' %}
</div>
{% endif %}
{% if segment.block_type == 'information_segment' %}
<div>
    {% include 'segments/information_bar.html' %}
</div>
{% endif %}
{% if segment.block_type == 'sponsor_segment' %}
<div>
    {% include 'segments/sponsor.html' %}
</div>
{% endif %}
{% if segment.block_type == 'maps_segment' %}
<div>
    {% include 'segments/maps.html' %}
</div>
{% endif %}
{% if segment.block_type == 'pricing_segment' %}
<div>
    {% include 'segments/pricing.html' %}
</div>
{% endif %}
{% if segment.block_type == 'schedule_segment' %}
<div>
    {% include 'segments/schedule.html' %}
</div>
{% endif %}
{% if segment.block_type == 'iframe_segment' %}
<div>
    {% include 'segments/iframe.html'  %}
</div>
{% endif %}
{% endfor %}
{% endfor %}


<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="subscribe-inner wow fadeInDown" data-wow-delay="0.3s">
                    <h2 class="subscribe-title" style="color: var(--footer-text);">{{page.footer_title}}</h2>
                </div>
                <div class="footer-logo">
                    <img src="{{ tmp_logo.url }}" alt="{{ tmp_logo.alt }}">
                </div>
                <div class ="mb-5 row justify-content-center">
                    {% if exist_descendants %}
                    <div class="past-events text-start mb-3">
                        <div class="subscribe-inner" style="padding: 16px;">
                            <h2 class="subscribe-title" style="color: var(--footer-text); margin-bottom:10px;">Eventos pasados</h2>
                        </div>
                        {% for descendant in page.get_descendants %}
                            {% if descendant.live and descendant.content_type == page.content_type %}
                                <a class="nav-link" href="{{ descendant.get_url }}" 
                                    target="_blank" style="color: {{ page.navbar_links_color }} !important;">
                                    {{ descendant.title }} 
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="social-icons-footer">
                    <ul>
                        {% for social in page.footer_networks %}
                        <li class="{{social.value.classname}}"><a target="_blank" href="{{social.value.url}}"><i
                                    class="{{social.value.lni_icon}}" title="{{social.value.lni_icon}}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="site-info">
                    <p>{{page.footer_site_info|richtext}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="lni lni-chevron-up"></i>
</a>


{% endblock content %}


{% block extra_js %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="" src="{% static '2023/js/jquery-min.js' %}"></script>
<script src="{% static '2023/js/popper.min.js' %}"></script>
<script src="{% static '2023/js/bootstrap.min.js' %}"></script>
<script src="{% static '2023/js/jquery.countdown.min.js' %}"></script>
<script src="{% static '2023/js/waypoints.min.js' %}"></script>
<script src="{% static '2023/js/jquery.counterup.min.js' %}"></script>
<script src="{% static '2023/js/jquery.nav.js' %}"></script>
<script src="{% static '2023/js/jquery.easing.min.js' %}"></script>
<script src="{% static '2023/js/wow.js' %}"></script>
<script src="{% static '2023/js/nivo-lightbox.js' %}"></script>
<script src="{% static '2023/js/video.js' %}"></script>
<script src="{% static '2023/js/main.js' %}"></script>
{% endblock %}