{% load mathfilters %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<!-- Information Bar Start -->
<section id="{{block.slug}}" class="information-bar {{segment.value.id_tag}}" style="background: {{block.background_section}}; color: {{block.color_text_section}}">
    <div class="container">
        <div class="row {{segment.value.class_name}}">
            {% for information in segment.value.list_information %}
            {% with numerator=12 denominator=segment.value.list_information|length %}
                <div class="col-lg-{{ numerator|intdiv:denominator}} col-md-6 col-xs-12">
                    <ul>
                        <li>
                            <i class="{{information.lni_icon}}"></i>
                        </li>
                        <li><span><b>{{information.title}}</b> {{information.description}}</span></li>
                    </ul>
                </div>
        {% endwith %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Information Bar End -->