{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image segment.value.image format-webp-lossless as tmp_logo_segment %}

{% if segment.value.position == "left" %}
<section id="{{block.slug}}" class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="img-thumb">
                    <img class="img-fluid" src="{{ tmp_logo_segment.url }}" alt="{{ tmp_logo_segment.alt }}">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="about-content">
                    <div>
                        <div class="about-text">
                            <h2>{{segment.value.name}}</h2>
                            <div {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{segment.value.description|richtext}}</div>
                        </div>
                        <ul class="stylish-list mb-3">
                            {% for options in segment.value.list_options %}
                            <li><i class="lni lni-checkmark-circle"></i><div  {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{options|richtext}}</div></li>
                            {% endfor %}
                        </ul>
                        {% if segment.value.url is not None and segment.value.url != "" %}
                        <a class="btn btn-common" href="{{segment.value.url}}"
                            target="_blank">{{segment.value.url_text}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if segment.value.position == "right" %}
<section id="{{block.slug}}" class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="about-content">
                    <div>
                        <div class="about-text">
                            <h2>{{segment.value.name}}</h2>
                            <div {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{segment.value.description|richtext}}</div>
                        </div>
                        <ul class="stylish-list mb-3">
                            {% for options in segment.value.list_options %}
                            <li><i class="lni lni-checkmark-circle"></i><div  {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{options|richtext}}</div></li>
                            {% endfor %}
                        </ul>
                        {% if segment.value.url is not None and segment.value.url != "" %}
                        <a class="btn btn-common" href="{{segment.value.url}}"
                            target="_blank">{{segment.value.url_text}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="img-thumb">
                    <img class="img-fluid" src="{{ tmp_logo_segment.url }}" alt="{{ tmp_logo_segment.alt }}">
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if segment.value.position == "empty" %}

<section id="{{block.slug}}" class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="contents">
                    <h2 class="head-title">{{segment.value.name}}</h2>
                    <p class="banner-desc"><div {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{segment.value.description|richtext}}</div></p>
                    <br>
                    <div class="about-content text-justify">
                        <ul class="stylish-list mb-3">
                            {% for options in segment.value.list_options %}
                            <li><i class="lni lni-checkmark-circle"></i><div  {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{options|richtext}}</div></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    {% if segment.value.url is not None and segment.value.url != "" %}
                    <div class="banner-btn">
                        <a href="{{segment.value.url}}" class="btn btn-common"
                            target="_blank">{{segment.value.url_text}}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if segment.value.position == "full" %}
<section id="{{block.slug}}">
    <div class="hero-area hero-area-bg" style='background: url("{{ tmp_logo_segment.url }}") no-repeat; background-size: cover; 
        background-position-y: top;
        background-position-x: center;'>
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-sm-12">
                    <div class="contents text-center">

                        <h2 class="head-title">{{segment.value.name}}</h2>
                        <p class="banner-desc"><div {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{segment.value.description|richtext}}</div></p>
                        <br>
                        <div class="about-content text-justify">
                            <ul class="stylish-list mb-3">
                                {% for options in segment.value.list_options %}
                                <li><i class="lni lni-checkmark-circle"></i><div  {% if segment.value.list_style %}class="show-list-style"{% endif %}>{{options|richtext}}</div></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br>
                        {% if segment.value.url is not None and segment.value.url != "" %}
                        <div class="banner-btn">
                            <a href="{{segment.value.url}}" class="btn btn-common"
                                target="_blank">{{segment.value.url_text}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}